.container {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 0 200px;
}

.mapContainer {
    position: relative;
    width: 50%;
    height: 100%;
}

.text {
    width: 30%;
    max-width: 40em;
    padding: 60px;
    box-sizing: border-box;
}

.address {
    list-style-type: none;
    padding: 1em 0;
    font-size: 24px;
}

.email, .phone {
    font-weight: bold;
}

.block {
    width: 20%;
    height: 100%;
    position: absolute;
    right: 0;
    background: #F5F7F6;
}

